[submodule "home/.vim/bundle/vim-indent-guides"]
	path = home/.vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "home/.vim/bundle/jellybeans"]
	path = home/.vim/bundle/jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
